<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= render 'advert' %>

<%= render 'hero' %>

<h1 class="heading recomendations"><%= t ("top_picks") %></h1>

<% slides2 = Spree::Slide.published.location("recomendations") %>
<%= render partial: 'spree/shared/slider_recomendations', locals: { slider: slides2 } %>

<h1 class="heading"><%= t ("recomended_trending") %></h1>

<% slides = Spree::Slide.published.location("trends") %>
<%= render partial: 'spree/shared/slider_trends', locals: { slider: slides } %>

<article class="prod-mid">
  <% cache(cache_key_for_products) do %>
    <%= render 'products/products', products: @products %>
  <% end %>
</article>

<%= render 'carousel' %>

<%= render 'for_them' %>
