<%= render 'advert' %>
        <%= image_tag 'advert.jpg' %>

<%= render 'hero' %>

<%= render 'slider' %>

<h1><%= t ("recomended_trending") %></h1>
<article>
  <% cache(cache_key_for_products) do %>
    <%= render 'products/products', products: @products %>
  <% end %>
</article>

<%= render 'carousel' %>

<%= render 'for_them' %>
