<footer class="footer">
  <div class="my-footer">
    <div class="my-contacts">
      <div class="cont-block">
        <div class="email">
          <a href = "mailto: shapesrd@gmail.com", target="_blank", title="Email"><i class="fa fa-envelope"></i> <span class="contact-title">ShapesRD@gmail.com</span></a>
        </div>
      </div>

      <div class="cont-block">
        <div class="insta">
          <a href="https://www.instagram.com/shapesboutique.rd/", target="_blank", title="Instagram"><i class="fa fa-instagram"></i> <span class="contact-title">ShapesBoutique.RD</span></a>
        </div>
      </div>
      <div class="cont-block">
        <div class="watsapp">
          <a href="https://api.whatsapp.com/send?phone=18097393822", target="_blank", title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i> <span class="contact-title"> +1 809 739 3822</span></a>
        </div>
      </div>

      <div class="cont-block">
        <div class="address">
          <a href="https://goo.gl/maps/nNzZTxF1YEMm8aKD7", target="_blank", title="Googlemaps"><i class="fa fa-map-marker"></i><span class="contact-title"> Puerto Plata, 27 Febrero 57 </span></a>
        </div>
      </div>
    </div>

    <div class="lang">
      <%
        available_locales = current_store.available_locales.map do |locale|
          [
            I18n.t('spree.i18n.this_file_language',
            locale: locale,
            default: locale.to_s,
            fallback: false), locale
          ]
        end.sort
      %>

      <% if available_locales.many? %>
        <div class="locale-selector">
          <%= form_tag select_locale_path do %>
            <div class="locale-selector__select-input select-input">
              <%= label_tag :switch_to_locale, "#{t('spree.i18n.language')}:", class:"selector-title" %>
              <%= select_tag(:switch_to_locale, options_for_select(available_locales, I18n.locale)) %>
            </div>
          <% end %>
        </div>
      <% end %>

    <p class="designed-by">
      SHAPES STORE &copy; All rights reserved
    </p>
    </div>

    <div class="terms">
      <%= button_to I18n.t("privacy_policy"), privacy_policy_url, class:"footer-link", form: {target: '_blank'} %>
      <%= button_to I18n.t("terms_of_use"), terms_of_use_url, class:"footer-link", form: {target: '_blank'} %>
      <%= button_to I18n.t("about_us"), about_us_url, class:"footer-link", form: {target: '_blank'} %>
    </div>
  </div>

      <p class="designed-by">
        <%= t "designed_by" %>
      </p>
</footer>
