<div class="newheader">
  <div class="logo">
    <figure class="logo">
      <%= link_to image_tag("logo-color.svg"), root_path %>
    </figure>
  </div>

  <div class="middle-section">
  </div>

  <div class="cont-part">
    <div class="top-row">

      <div class="tooltip">
        <span><%= button_to about_us_url, class:"infoe", form: {target: '_blank'} do %>
            <i class="fa fa-info fa-2x icon-size"></i>
          <% end %>
        </span>

          <div class="tooltip-text"><%= I18n.t("about_us") %></div>
      </div>

      <div class="tooltip">
        <span>
          <div class="email">
            <a href = "mailto: shapesrd@gmail.com", target="_blank"><i class="fa fa-envelope fa-2x icon-size"></i></a>
          </div>
        </span>

          <div class="tooltip-text"><%= I18n.t("email") %></div>
      </div>

      <div class="tooltip">
        <span>
          <div class="insta">
            <a href="https://www.instagram.com/shapesboutique.rd/", target="_blank"><i class="fa  icon-size fa-instagram fa-2x"></i></a>
          </div>
        </span>

          <div class="tooltip-text"><%= I18n.t("instagram") %></div>
      </div>

      <div class="tooltip">
        <span>
          <div class="whatsapp">
            <a href="https://api.whatsapp.com/send?phone=18097393822", target="_blank"><i class="fa icon-size fa-whatsapp fa-2x" aria-hidden="true"></i></a>
          </div>
        </span>

          <div class="tooltip-text"><%= I18n.t("whatsapp") %></div>
      </div>

      <div class="tooltip">
        <span>
          <div class="map">
            <a href="https://goo.gl/maps/nNzZTxF1YEMm8aKD7", target="_blank"><i class="fa icon-size fa-map-marker fa-2x"></i></a>
          </div>
        </span>

          <div class="tooltip-text"><%= I18n.t("googlemaps") %></div>
      </div>



    </div>
    <div class="bottom-row">
      <div class="search">
        <%= render 'shared/search/search_bar', taxons: taxons, taxon: taxon %>
      </div>
<!--
      <div class="account">
        <% if spree_current_user %>
          <%= link_to I18n.t('spree.my_account'), account_path, class: 'auth-link' %>
        <% else %>
          <%= link_to I18n.t('spree.login'), login_path, class: 'auth-link' %>
        <% end %>
      </div>
-->
      <div class="account">
        <div class="tooltip-bottom">
          <% if spree_current_user %>
              <span>
                <%= link_to account_path, class: 'auth-link' do %>
                  <i class="fa icon-size fa-2x fa-user"></i>
                <% end %>
              </span>
              <div class="tooltip-bottom-text"><%= I18n.t("spree.my_account") %></div>
          <% else %>
              <span>
                <%= link_to login_path, class: 'auth-link' do %>
                  <i class="fa fa-2x fa-sign-in"></i>
                <% end %>
              </span>
              <div class="tooltip-bottom-text"><%= I18n.t("spree.login") %></div>
          <% end %>
        </div>
      </div>

      <div class="cart">
        <div class="cart-link" id="link-to-cart">
          <noscript>
            <%= link_to t('spree.cart'), edit_cart_path %>
          </noscript>
        </div>

        <script>
          Solidus.fetch_cart('<%= j cart_link_path %>')
        </script>
      </div>
    </div>
  </div>
</div>
